<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Hale hacia abajo para actualizar"
      refreshingSpinner="circles"
      refreshingText="Cargando..."
      
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar animated="true" placeholder="Buscar clientes" (ionCancel)="cancel()" (ionChange)="search($event)"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let client of clients">
  
      <ion-item detail="true">
        <ion-thumbnail aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{client.name}} {{client.surname}}</h2>
          <p>{{client.email}}</p>
          <p>Edad: {{calculateAge(client.bornDate)}} años</p>
        </ion-label>
        <ion-note slot="end">
          <ion-chip *ngIf="client.type == 'individual'" color="primary">Individual</ion-chip>
          <ion-chip *ngIf="client.type == 'business'" color="medium">Empresa</ion-chip>
          <ion-chip *ngIf="client.type == 'other'" color="tertiary">Otro</ion-chip>
        </ion-note>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="update(client)">
          <ion-icon slot="top" name="pencil"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(client)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addForm()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
