<ion-content class="ion-padding" fullscreen>
  <div class="login-container">
    <ion-card class="login-card">
      <img alt="Silhouette of mountains" src="https://elchesemueve.com/images/blog/historia/Himalaya-Clima-Flora-Fauna-Fisiografia.jpg" />
      <ion-card-header>
        <ion-card-title>Seguros Himalaya</ion-card-title>
        <ion-card-subtitle>Ingrese sus credenciales para iniciar</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm">
          <ion-list>
            <ion-item>
              <ion-input formControlName="email" fill="outline" label="Correo electrónico" labelPlacement="floating" placeholder="example@example.com" [clearInput]="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="password" fill="outline" label="Contraseña" labelPlacement="floating" placeholder="**********" [type]="showPassword ? 'text' : 'password'" [clearInput]="true">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
              
            </ion-item>
          </ion-list>
  
          <ion-button expand="block" color="primary" [disabled]="!loginForm.valid" (click)="byMail()">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            Acceder con correo electrónico
          </ion-button>
        </form>
        

        <ion-button expand="block" color="danger" (click)="byGoogle()">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Acceder con Google
        </ion-button>

        <!-- <ion-button expand="block" color="tertiary">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Acceder con Facebook
        </ion-button> -->

        <ion-button expand="block" fill="clear" color="medium" (click)="forgotPassword()">
          Olvidó su contraseña?
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
