<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Posts - contenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Posts - contenido</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addForm()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>
