<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Información de la cuenta
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" [src]="user.photoURL" />
            </ion-avatar>
            <ion-label>
              <h3>{{user.displayName}}</h3>
              <p>{{user.email}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Opciones de la cuenta
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>
              Configuración de la cuenta
            </ion-label>
          </ion-item>
          <!-- <ion-item>
            <ion-icon name="lock" slot="start"></ion-icon>
            <ion-label>
              Cambiar contraseña
            </ion-label>
          </ion-item> -->
          <ion-item>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>
              Cerrar sesión
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>