<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Hale hacia abajo para actualizar"
      refreshingSpinner="circles"
      refreshingText="Cargando..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button (click)="mostrarFiltros = !mostrarFiltros">
          <ion-icon slot="icon-only" name="filter-outline" ></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

  <ion-searchbar animated="true" placeholder="Buscar productos"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let product of products">
  
      <ion-item detail="true" [routerLink]="['/products/detail', product.uuid]">
        <ion-label>
          <h2>{{product.name}}</h2>
          <p>{{product.description | slice:0:50}}</p>
          <p>Rango de precio: Q {{product.price}}</p>
          <p>Proveedor: {{product.provider.name}}</p>
        </ion-label>

        <ion-note slot="end">
          <ion-chip [style]="{'--background': product.category.color}">{{product.category.name}}</ion-chip>
        </ion-note>
      </ion-item>
  
      <!-- <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="top" name="pencil"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(category)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
  
  



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addForm()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

